Source: xkcd-uri
Section: utils
Priority: extra
Maintainer: Darren Salt <devspam@moreofthesa.me.uk>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5

Package: xkcd-uri
Architecture: all
Depends: ${misc:Depends}
Description: launcher for xkcd:// URIs
 xkcd-uri is a trivial launcher for xkcd:// URIs.
 Its purpose is amusement, and this is fulfilled.
